body{
   background-image:url(kepek/hatte1r.png) ;
}
li{
    color: black;
    display: inline;
    border: 1px solid black;

}
p{
    color: whitesmoke;
}
li :hover{
    background-color: black;
    color: white;
}
nav img{
    width:50%;
    height: 900px;
    float: right;
    
}